 {% extends 'base.html' %}
{% load static %}
 {% block title %}
    {{ourwashmachine.brandname|upper}} VIEW
 {% endblock title %}

 {% block css %}
    #item-div{
        background-color:#fff;
        box-sizing:border-box;
        flex-grow:2;
    }
    .item-image{
        flex-grow:1;
        border:2px solid #ccc;
        margin:5px;
        
    }
    .item-info{
        padding:10px;
        border:2px solid #ccc;
        flex-grow:2;
        margin:5px;
        
    }
    .item-desc{
        flex-grow:2;
        flex-wrap:wrap;
    }
    
    .small-desc{
        
        margin-top:5px;
        border-radius:10px;
        color:tomato;
    }
    
    #piechart{
        flex-grow:1;
        border:2px solid #ccc;
        margin:5px;
    }

    .inner-align{
        margin:auto auto;
        max-width:300px;
    }
    .inner-align li{
        list-style-type:none;
        padding:10px;  
    }

    .comment-div{
        background:#fff;
    }
    .comment-div h6{
        border-bottom:2px solid #ccc;
        padding:3px;
        color:red;
    }
    .comment-div span{
        color:green;
    }
    .comment-div li{
        list-style-type:none;
        background:#ccc;
        padding:10px;
        margin:7px;
        border-radius:4px;
        color:blue;
    }
    .liked{
        color:red;
    }
    .dislike{
        color:white;
    }
    #comment-input{
        width:900px;
        border:none;
        outline:none;
        border-bottom:2px solid lightblue;
    }
    #comment-button{
        border-color:lightblue;
        border-radius:4px;
        color:blue;
    }
    .review-text{
        font-family:sans-serif;
        font-size:18px;
       
    }

 {% endblock css %}

 {% block csslink %}
    <link rel="stylesheet" href="{% static 'css/loadMobiles.css' %}"/>
{% endblock csslink %}

 {% block body %}
    <div id="item-div" class="p-4 m-3">
        <div class="item-desc text-center d-flex justify-content-between">
            <div class="item-image">
                <img src="/media/{{ourwashmachine.wm_pic}}" class="img mt-2" style="height:200px;"/> <br>
                <div class="small-desc p-2 d-flex justify-content-center">
                    <table>
                    <tr>
                    <td class="text-primary">BrandName&nbsp;</td>
                    <td class="text-primary">:&nbsp;</td>
                    <td> {{ourwashmachine.brandname}}</td>
                    </tr>

                    <tr>
                    <td class="text-primary">ModelName&nbsp;</td>
                    <td class="text-primary">:&nbsp;</td>
                    <td>{{ourwashmachine.modelname}} </td>
                    </tr>

                    <tr>
                    <td class="text-primary">Price&nbsp;</td>
                    <td class="text-primary">:&nbsp;</td>
                    <td>{{ourwashmachine.price}} /-</td>
        
                    </table>
                </div>
            </div>
            <div class="item-info d-flex">
                <div class="inner-align">
                    <h3 class="text-info"><u>{{ourwashmachine.brandname}}</u></h3>
                    <li class="text-primary">Capacity : <span class="text-danger">{{ourwashmachine.ltr_cap}} lts</span></li>
                    <li class="text-primary">Drum Direction : <span class="text-danger">{{ourwashmachine.drum_dir}} way</span></li>
                    <li class="text-primary">Is Smart : <span class="text-danger">{{ourwashmachine.is_smart_wm}}</span></li>
                    <li class="text-primary">Is Auto Dry : <span class="text-danger">{{ourwashmachine.is_auto_dry}}</span></li>
                    <li class="text-primary">Colour : <span class="text-danger">{{ourwashmachine.colour}}</span></li>
                    <li class="text-primary">Volts : <span class="text-danger">{{ourwashmachine.optr_volt}} volts</span></li>
                    <div class="rating d-flex justify-content-center">
                        <div class="stars">
                            {% for i in ourwashmachine.rating %}
                                {% ifnotequal  i  '0' %}
                                <span class="fa fa-star checked"></span>
                                {% else %}
                                <span class="fa fa-star"></span>
                                {% endifnotequal %}
                            {% endfor %}
                        </div>
                        <div class="hearts pl-3 ">
                        <i class="fa fa-heart" aria-hidden="true"></i>&nbsp;{{ourwashmachine.hearts}}&nbsp;
                        </div>
                    </div>
                </div>
            </div>
            <div class="rating-pie">
                 <div id="piechart"></div>
            </div>
        </div>
    </div>


    <div class="comment-div p-4 m-3">
        <h6>Comment Section</h6>
        <ul id="com-ul">
        {% if reviews %}
        
            {% for review in reviews %}
                {% if review.washmachineid == ourwashmachine.id %}
                <li class="d-flex justify-content-between">
                <i class="review-text">{{review}} <span class="text-danger"> from {{review.userid}}</span></i>
                <i class="fa fa-heart com-heart" role="button" id="heart{{forloop.counter}}" onclick="togglelike('{{forloop.counter}}')"></i>
                </li>
                {% endif %}
            {% endfor %}
       
        {% else %}
            <span>This WashMachine Not Having Any Reviews Yet</span><br>
        {% endif %}
         </ul>
        
        {% if user != None %}
            <form class="mt-4" id="comment-form">
                {% csrf_token %}
                <input name="username" value="{{user.username}}" hidden/>
                <input name="washmachineid" value="{{ourwashmachine.id}}" hidden/>
                <span class="text-primary p-3">{{user.username}} : </span>
                <input id="comment-input" type="text" name="comment" placeholder="{{user.username}} mention your opinion here" required=""/>
                <input id="comment-button" type="submit" value="Comment" class="ml-2 pl-2 pr-2"/>
            </form>
        {% else %}

        <div class="text-center text-primary">Cant't Comment ? Go to login!</div>
            
        {% endif %}

    </div>

 {% endblock body%}


 {% block jslink %}
 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

 <script type="text/javascript" src="{% static 'js/washmachine_comment.js' %}"></script>

 {% endblock jslink %}

 {% block js %}
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        // Draw the chart and set the chart values
        function drawChart() {
        var data = google.visualization.arrayToDataTable([
        ['Task', 'user count '],

        ['1 star', Math.floor(Math.random()*(23)+15)],
        ['2 star', Math.floor(Math.random()*(23)+15)],
        ['3 star', Math.floor(Math.random()*(23)+15)],
        ['4 star', Math.floor(Math.random()*(23)+15)],
        ['5 star', Math.floor(Math.random()*(23)+15)]

        ]);

        // Optional; add a title and set the width and height of the chart
        var options = {'title':'Rating of {{ourwashmachine}}', 'width':400, 'height':300};

        // Display the chart inside the <div> element with id="piechart"
        var chart = new google.visualization.BarChart(document.getElementById('piechart'));
        chart.draw(data, options);
        }
 {% endblock js%}



