{% extends 'base.html' %}
{% load static %}
{% block title %}
WASHMACHINES PAGE
{% endblock title %}


{% block csslink %}
<link rel="stylesheet" href="{% static 'css/loadMobiles.css' %}"/>
{% endblock csslink %}


{% block body %}
    {% if wms %}
        {% for wm in wms %}
            <div class="mobile-viewer mt-1 mb-1 container">
                <button class="btn btn-primary btn-lg btn-block text-left d-flex justify-content-between" data-toggle="collapse" data-target="#wm{{forloop.counter}}">
                {{wm}}
                <div class="rating d-flex">
                    <div class="stars">
                        {% for i in wm.rating %}
                            {% ifnotequal  i  '0' %}
                            <span class="fa fa-star checked"></span>
                            {% else %}
                            <span class="fa fa-star"></span>
                            {% endifnotequal %}
                        {% endfor %}
                    </div>
                    <div class="hearts pl-3 ">
                       <i class="fa fa-heart" aria-hidden="true"></i>&nbsp;{{wm.hearts}}&nbsp;
                    </div>
                </div>
                </button>
                <div class="collapse" id="wm{{forloop.counter}}">
                    <div class="card card-body">
                       <ul class="list-group">
                            <li class="list-group-item"><span class="text-success">Brand Name : </span> <span class="text-warning">{{wm.brandname}}</span></li>
                            <li class="list-group-item"><span class="text-success">Model Name : </span> <span class="text-warning">{{wm.modelname}}</span></li>
                            <li class="list-group-item"><span class="text-success">Capacity in lts : </span> <span class="text-warning">{{wm.ltr_cap}} lts</span></li>
                            <li class="list-group-item"><span class="text-success">Drum Direction : </span> <span class="text-warning">{{wm.drum_dir}} way</span></li>
                            <li class="list-group-item"><span class="text-success">Is Automatic : </span> <span class="text-warning">{{wm.is_smart_wm}} </span></li>
                            <li class="list-group-item"><span class="text-success">Colour : </span> <span class="text-warning">{{wm.colour}} </span></li>   
                            
                            <li class="list-group-item d-flex justify-content-between"> 
                                <div class="item-price">
                                    <span class="text-success">
                                        Price : 
                                    </span> 
                                    <span class="text-warning">
                                    {{wm.price}} /-
                                    </span>
                                </div>
                                <div class="link-mobileview">
                                    <button class="btn btn-primary" onclick="location.href='washmachines/{{wm.id}}'">View</button>
                                </div>
                            </li>
                       </ul>
                       <div class="washmachine-image text-center p-2">
                            <img src="/media/{{wm.wm_pic}}" class="img" style="height:200px;"/>
                       </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock body %}





