{% extends 'base.html' %}
{% load static %}
{% block title %}
CAMERAS PAGE
{% endblock title %}


{% block csslink %}
<link rel="stylesheet" href="{% static 'css/loadMobiles.css' %}"/>
{% endblock csslink %}


{% block body %}
    {% if cameras %}
        {% for camera in cameras %}
            <div class="mobile-viewer mt-1 mb-1 container">
                <button class="btn btn-primary btn-lg btn-block text-left d-flex justify-content-between" data-toggle="collapse" data-target="#camera{{forloop.counter}}">
                {{camera}}
                <div class="rating d-flex">
                    <div class="stars">
                        {% for i in camera.rating %}
                            {% ifnotequal  i  '0' %}
                            <span class="fa fa-star checked"></span>
                            {% else %}
                            <span class="fa fa-star"></span>
                            {% endifnotequal %}
                        {% endfor %}
                    </div>
                    <div class="hearts pl-3 ">
                       <i class="fa fa-heart" aria-hidden="true"></i>&nbsp;{{camera.hearts}}&nbsp;
                    </div>
                </div>
                </button>
                <div class="collapse" id="camera{{forloop.counter}}">
                    <div class="card card-body">
                       <ul class="list-group">
                            <li class="list-group-item"><span class="text-success">Brand Name : </span> <span class="text-warning">{{camera.brandname}}</span></li>
                            <li class="list-group-item"><span class="text-success">Model Name : </span> <span class="text-warning">{{camera.modelname}}</span></li>
                            <li class="list-group-item"><span class="text-success">MegaPixels : </span> <span class="text-warning">{{camera.megapixel}} Pixels</span></li>
                            <li class="list-group-item"><span class="text-success">Battery Capacity : </span> <span class="text-warning">{{camera.battery_cap}} MAH</span></li>
                            <li class="list-group-item"><span class="text-success">Is AutoFoucus : </span> <span class="text-warning">{{camera.is_autofocus}} </span></li>
                            <li class="list-group-item"><span class="text-success">Is RawMode : </span> <span class="text-warning">{{camera.is_raw_mode}} </span></li> 
                            
                            <li class="list-group-item d-flex justify-content-between"> 
                                <div class="item-price">
                                    <span class="text-success">
                                        Price : 
                                    </span> 
                                    <span class="text-warning">
                                    {{camera.price}} /-
                                    </span>
                                </div>
                                <div class="link-mobileview">
                                    <button class="btn btn-primary" onclick="location.href='cameras/{{camera.id}}'">View</button>
                                </div>
                            </li>
                       </ul>
                       <div class="camera-image text-center p-2">
                            <img src="/media/{{camera.cam_pic}}" class="img" style="height:200px;"/>
                       </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock body %}





